$base-theme:Default;
$skin-name:custom;
$accent: #ff804d;
$info: #46b8e0;
$success: #90bf4f;
$warning: #ffc857;
$error: #e14d6b;
$text-color: #000000;
$bg-color: #e3eef4;
$base-text: #ffffff;
$base-bg: #447a99;
$hovered-text: #ffffff;
$hovered-bg: #1b4b66;
$selected-text: #ffffff;
$selected-bg: #ff804d;
$series-a: #ff7943;
$series-b: #e84d0e;
$series-c: #40a9e3;
$series-d: #016a98;
$series-e: #7a8c95;
$series-f: #355261;
