$base-theme:Default;
$skin-name:weatherApp;
$accent: #7183de;
$info: #57dbc6;
$success: #37b400;
$warning: #ffb400;
$error: #db4240;
$text-color: #696969;
$bg-color: #ffffff;
$base-text: #696969;
$base-bg: #d3d3d3;
$hovered-text: #ffffff;
$hovered-bg: #f1671d;
$selected-text: #ffffff;
$selected-bg: #57dbc6;
$series-a: #0069a5;
$series-b: #0098ee;
$series-c: #7bd2f6;
$series-d: #ffb800;
$series-e: #ff8517;
$series-f: #e34a00;
